body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: contain;
  background-image: url('./images/rm-bg.jpg');
  background-image: url('./images/rick\ and\ morty\ jail.png');
  background-image: url('./images/RickandMortyF_U.png');
  background-image: url('./images/RickandMorty.png');
  background-image: url('./images/RickandMortyPeace.jpg');

}
